@{
    ViewBag.Title = "BrandMenu";
}

<ul class="nav nav-tabs nav-stacked">
    <li>@Html.ActionLink("Store Manager", "Index", "StoreManager")</li>
    <li>@Html.ActionLink("Brand", "Index", "Brand")</li>
    <li>@Html.ActionLink("Product", "Index", "Model")</li>
    <li>@Html.ActionLink("Supplier", "Index", "Supplier")</li>
    <li>@Html.ActionLink("Users", "Index", "User")</li>
</ul>