@model IEnumerable<MvcStore.Models.Supplier>

@{
    ViewBag.Title = "Index";
}

<div class="container-fluid">
    <div class="row-fluid">

        <div class="span2">
            @Html.Partial("~/Views/Supplier/SupplierMenu.cshtml")
        </div>

        <div class="span10">
            <p>
                @Html.ActionLink("Create New", "Create")
            </p>
            <table class="tablesorter">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Origin)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Manufacturer)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Delivery)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Origin)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Manufacturer)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Delivery)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.SupplierId }) |
                            @Html.ActionLink("Details", "Details", new { id = item.SupplierId }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.SupplierId })
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>



