@{
    MvcStore.Models.CopierStoreEntities db = new MvcStore.Models.CopierStoreEntities();
    MvcStore.Models.Order db1 = new MvcStore.Models.Order();

    var selectQueryString = "select * from Orders WHERE Username='" + @User.Identity.Name + "'";

        /* if (@User.Identity.Name==("Administrator"))
    
              selectQueryString = "select * from Orders "; 
    
         else 
    
              selectQueryString = "select * from Orders WHERE Username='" + @User.Identity.Name + "'" */
       
}

<table class="tablesorter">
    <tr>
        <th>Id</th>
        <th>Date</th>
        <th>UserName</th>
        <th>FirstName</th>
        <th>Address</th>
        <th>City</th>
        <th>State</th>
        <th>Postal Code</th>
        <th>Email</th>
        <th>Action</th>

    </tr>
    @foreach (var row in db.Orders.SqlQuery(selectQueryString))
    {
        <tr>
            <td>@row.OrderId</td>
            <td>@row.OrderDate</td>
            <td>@row.Username</td>
            <td>@row.FirstName</td>
            <td>@row.Address</td>
            <td>@row.City</td>
            <td>@row.State</td>
            <td>@row.PostalCode</td>
            <td>@row.Email</td>
            <td>
                @{
                    Session["id"] = @row.OrderId;
                }

                @Html.ActionLink("Details", "Details")
            </td>

        </tr> 
    }
</table>



