@model MvcStore.Models.Brand

@{
    ViewBag.Title = "Create";
}

<h2>Add New Brand</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Brand</legend>

        <table>
            <tr>
                <td>@Html.LabelFor(model => model.Name)</td>
                <td>
                    @Html.EditorFor(model => model.Name)
                    @Html.ValidationMessageFor(model => model.Name)
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.Description)</td>
                <td>
                      @Html.TextAreaFor(model => model.Description, new { @style = "resize:none; width:300px; height:150px;"})
                    @Html.ValidationMessageFor(model => model.Description)
                </td>
            </tr>
        </table>

        <p>
            <input class="btn btn-warning" type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
